html, body{
    margin: 0;
    font-family: 'Baloo Tamma 2', cursive;
    color: #2A2B43;
}

header{
    background-color: #2A2B43;
    color: cornsilk;
    height: 70px;
    position: fixed;
    width: 100%;
    z-index: 20;
}

#fundo{
    background: url(favela.noite..jpg);
    height: 100%;
    text-align: center;
    padding: 30px;
    background-size: cover;
    font-family: nome;
    font-family: 'Lemonada', cursive;
}
.t1{
    color: #C2997A;
    padding-top: 10%;
    text-align: center;
    margin-top: 0;
}
.t2{
    color:  #C2997A;
    text-align: center;
}
#acao{
    color: #C2997A;
    border: 2px #C2997A solid;
    padding: 8px 10px 8px 8px;
    text-align: center;
}

section{
    padding: 20px;
    float: left;
}
.video{
    padding-top: 16%;
}
.coluna{
    float: left;
    padding: 3% 5%;
    position: relative;    
    text-align: center;
    width: 40%;
}

.colunaquatro{
    float: left;
    padding: 0 5%;
    position: relative;
    text-align: center;
    width: 15%;
}

#menu{
    float: right;
    margin-right: 5%;
    list-style: none;
    margin-top: 8;
}
li{
    float: left;
    padding: 16px;
}
li:hover{
    background-color: #175DB9;
}
#logo{
    width: 50px;
    position: absolute;
    padding: 5px 0 0 20PX;
}
.icones{
    width: 50px;
    padding-top: 15px;
}
.imgex{
    width: 80%;
    height: 30%;
    margin-top: 10%;
}
.imgex1{
    width: 100%;
    height: 40%;
    margin: 5% 10% 5% 0%;
}
#ti-proj{
    padding-top: 10%;
}
.botao{
    border: 2px #2A2B43 solid;
    padding: 8px 10px 8px 8px;
    text-align: center;
    color: #2A2B43;
    
}

.alinhado{
    text-align: center;
    margin: 6% 0 2% 0;
    font-family: 'Red Rose', cursive;
    font-size: 35px;
}

.destaque{
    background-color: #6BB5B3;
}

footer{
    background-color:#2A2B43;
    float: left;
    width: 100%;
    color: white;
}
.rodape{
    float: left;
    width: 50%;
    background-color: #175DB9;
}
.ad{
    text-decoration: none;
    color:#C2997A;
}
#fonte{
    color: #211C18;
}
.hortaimg{
    width: 100%;
    height: 65%;
    margin: 15% 10% 5% 0%;
}
.fundo-horta{
    background-color: #79C952;
}
.alinhado-horta{
    text-align: center;
    margin: 15% 0 2% 0;
    font-family: 'Red Rose', cursive;
}
.exemplos{
    width: 90%;
    height: 65%;
    margin: 15% 10% 5% 0%;
}
.coluna-direita{
    float: right;
    padding: 3% 5%;
    position: relative;    
    text-align: center; 
    width: 40%;
}
.fonte{
    font-size: 25px;
}
.fundo-cisterna{
    background-color: aqua;

}
.fundo-solar{
    background-color: #987643;
}
.fundo-reciclagem{
    background-color: coral;
}

@media all and (max-width:768px) {
    
    #menu{
        visibility: hidden;
    }
    #logodiv{
        margin-top: 4%;
    }
    .colunaquatro, .coluna, .coluna-direita{
        display: block;
        width: 95%;
        padding: 0;
        float: none;
    }
    .exemplos{
        margin: 0 -2% 0 0;
        width: 100%;
        height: 50%;
    }
    .hortaimg{
        width: 100%;
        height: 50%;
        padding: 20% 0 0 0;
    }
    #logodiv{
        width: 100%;
        position: relative;
        text-align: center;
    }
    #logo{
        padding: 0%;
        transform: translateX(-50%);
    }
    .t1{
        margin-top: 20%;
        font-size: 20px;
    }
    .t2{
        font-size: 20px;
    }
}