#t1{
    color: black;
    text-align: center;
}

#t2{
    color: black;
    text-align: center;
}
#fundo{
    background: url(favela.jpg);
    background-size: 1363px;
    height: 600px;
    text-align: center;
    padding: 30px;
}
#acao{
    color: black;
    border: 3px black solid;
    padding: 10px 20px 10px 20px;
}